*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    /* box-sizing: border-box;*/
} 
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: oldlace;
    height: 80px;
    width: 100%;
}
label.logo{
font-size: 40px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;   
}
nav ul li a{
    color: black;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 15px;
    
}
nav ul li a .fa{
    padding-left: 5px;
    
}
a.home,a:hover{
    background: cornflowerblue;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 14px;
    }
}
@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: cornflowerblue;
        text-align: center;
        top: 80px;
        left: -100%;
        transition: all .5s;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.home,a:hover{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
}
.sub-menu{
    display: none;
    z-index: 1;
}
nav ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: yellowgreen;
    margin-left: -10%;
    line-height: 20px;
    
}
nav ul li:hover .sub-menu ul{
    display: block;
    width: 250px;
}
nav ul li:hover .sub-menu ul li {
    width: 250px;
    height: 30px;
    padding: 0px;
    text-align: left;
    display: block;
    border-bottom: solid steelblue ;
    /* line-height: 10px; */
    text-align: center;
    margin-bottom: 3px;
}
/* nav ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
} */
.sub-menu ul li a:hover{
    background: white;
    border-radius: 0;
    
    
}
.sub-menu ul li a{
    font-size: 15px;
    display: block;
    line-height: 14px;
    
}
.sub-menu ul li :nth-child(1){
    margin-top: 10px;
}

.top{
    display: block;
    height: 50px;
    background: tan;
    width: 100%;
}
.left, .right{
    width: 25%;
    float: left;
    height: 50px;
    text-align: center;

}
.btn-1{
    padding: 5px;
    margin-top: 5px;
}
.middle{
    width: 50%;
    float: left;
   
} 
.left ul{
    float: right;
    text-align: left;
}
.left ul li{
    display: inline-block;
    
    
    /* line-height: 50px;
    font-size: 30px; */
    
}
.left ul li a{
  font-size: 30px;
  width: 30px;
  margin:5px 8px 5px 8px;
  padding-top: 10px;
}
.tagline{
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 18px;
}
.slider{
    width: 100%;
    height: 400px;
}
.intro{
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    
}
.qwerty{
    color: blue;
    
}
.qwert{
    color: green;
}
.paragraph{
    background-color:gainsboro ;
}
@media (max-width:952px){
    .para{
        margin-left: 10px;
        margin-right: 10px;
        line-height: 20px;
        font-size: 17px;
    }
}
.para{
    margin-left: 200px;
    margin-right: 200PX;
    line-height: 35px;
    font-size: 14px;
}
.counter{
    line-height: 50px;
    display:flex;
    background: rgb(5, 40, 143);
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.counter1, .counter2, .counter3, .counter4{
    width: 25%;
    
}
.fa fa-cutlery{
    font-size: 25px;
    background-color: white;
}
.doing{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.as{
    color: blue;
    
}
.asd{
    color: green;
}
.what{

    text-transform: uppercase;
    background: gainsboro;
    font-size: 20px;
    text-align: center;
    /* display: flex; */
}
.what1{
    display: flex;
    
    line-height: 80px;
    justify-content: space-around;
    padding: 20px;


}
.what2{
    display: flex;
    
    line-height: 80px;
    justify-content: space-around;
    padding: 20px;

}
.what .fa{
    font-size: 40px;
}
#a01, #a02,#a03,#a04,#a05,#a06{
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding:20px;
    box-shadow: 6px 6px 8px 8px rgb(197, 195, 195);
    width: 280px;
    height: 150px;
}
.mission{
    display: flex;
    background: gainsboro;
    
}
#m1{
    width: 70%;

}
#m2{
    width: 30%;
}
.xyz,.xyz1{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;
}
#m1-0, #m1-1, #m1-2,#m1-3{
    line-height: 30px;
    background:rgb(190, 178, 178);
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    
}
h4 .fa{
    font-size: 30px;
    padding-right: 10px;
}
.and{
    margin-left: 30px;
    padding: 20px;
    border-bottom: 2px solid green;
}
.events{
    margin-left: 30px;
    padding: 30px;
    
}
#events{
    padding-left: 30px;
    line-height: 25px;
    height: 250px;
    overflow:scroll;
}
#lag{
    color: blue;
    text-align: center;
   
}
.lag{
    padding: 30px;
    font-weight: 600;
}
#gal{
    color: green;
}
.gallery{
    display:flex;
    justify-content: space-between;
    padding: 50px;
    
}
.gallery li img{
    width: 200px;
    height: 200px;
}
.gallery li{
    width: 100%;
}

body{
   background-color: gainsboro;
}
.address{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: white;
    background-color: black;
}
.address ul{
    padding: 30px;
}
.address ul li{
    padding: 20px;
}
.ad-1{
    margin-left: 80px;
}
.so-link h4{
    padding-left:40px;
}
.so-link li{
    font-size: 40px;
    
}
.so-link ul{
    display: flex;
}
.rights{
    background-color: cadetblue;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}

